<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.youthred.goc.authorizer.mapper.GocAuthUserMapper">

    <resultMap id="findUserVOTreesMap" type="io.github.youthred.goc.pojo.vo.GocAuthUserVO">
        <id column="u_id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="enabled" property="enabled"/>
        <collection property="roles" javaType="io.github.youthred.goc.pojo.vo.GocAuthRoleVO">
            <id column="r_id" property="id"/>
            <result column="r_code" property="code"/>
            <result column="r_name" property="name"/>
            <result column="r_desc" property="desc"/>
            <collection property="resources" javaType="io.github.youthred.goc.pojo.vo.GocAuthResourceVO">
                <id column="s_id" property="id"/>
                <result column="s_p_id" property="parentId"/>
                <result column="path" property="path"/>
                <result column="method" property="method"/>
            </collection>
        </collection>
    </resultMap>
    <select id="findUserVOTrees" resultMap="findUserVOTreesMap">
        select
            u.id as u_id,
            u.username,
            u.password,
            u.enabled,
            r.id as r_id,
            r.code as 'r_code',
            r.name as 'r_name',
            r.desc as 'r_desc',
            s.id as s_id,
            s.parent_id as s_p_id,
            s.path,
            s.method
        from t_goc_auth_user u
        left join t_goc_auth_user_role ur on u.id = ur.user_id
        left join t_goc_auth_role r on r.id = ur.role_id
        left join t_goc_auth_role_resource rs on r.id = rs.role_id
        left join t_goc_auth_resource s on s.id = rs.resource_id
    </select>

</mapper>