<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.youthred.goc.gateway.mapper.GocAuthResourceMapper">

    <resultMap id="listResourceVOSMap" type="io.github.youthred.goc.pojo.vo.GocAuthResourceVO" autoMapping="true">
        <id column="method_path" property="methodPath"/>
        <collection property="roleStrings" ofType="java.lang.String">
            <constructor>
                <arg column="code"/>
            </constructor>
        </collection>
    </resultMap>
    <select id="listResourceVOS" resultMap="listResourceVOSMap">
        select
            s.id,
            s.parent_id,
            CONCAT_WS(':', s.method, s.path) as method_path,
            r.code
        from t_goc_auth_resource s
        left join t_goc_auth_role_resource rs on s.id = rs.resource_id
        left join t_goc_auth_role r on r.id = rs.role_id
    </select>

</mapper>