<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.youthred.goc.gateway.mapper.GocAuthPermissionMapper">

    <resultMap id="listPermissionsMap" type="io.github.youthred.goc.pojo.vo.GocAuthPermissionVO" autoMapping="true">
        <id column="method_path" property="methodPath"/>
        <collection property="roleStrings" ofType="java.lang.String">
            <constructor>
                <arg column="code"/>
            </constructor>
        </collection>
    </resultMap>
    <select id="listPermissions" resultMap="listPermissionsMap">
        select
            s.id,
            s.parent_id,
            CONCAT_WS(':', s.method, s.path) as method_path,
            r.code
        from t_goc_auth_permission s
        left join t_goc_auth_role_permission rp on s.id = rp.permission_id
        left join t_goc_auth_role r on r.id = rp.role_id
    </select>

</mapper>